:root {
  --yc-filter-inline-input-width: 220px;
}
a {
  color: var(--el-color-primary);
}
/* 修改整个滚动条的样式 */
::-webkit-scrollbar {
  width: 6px; /* 对于垂直滚动条，设置宽度 */
  height: 6px; /* 对于水平滚动条，设置高度 */
}

/* 修改滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: transparent; /* 轨道的背景颜色 */
  border-radius: 10px; /* 轨道的圆角 */
}

/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3); /* 滑块的背景颜色 */
  border-radius: 10px; /* 滑块的圆角 */
  border: none; /* 滑块的边框和颜色 */
}

/* 修改滚动条滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 147, 153, 0.5); /* 滑块悬停时的背景颜色 */
}

.dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
