/* 修改整个滚动条的样式 */
::-webkit-scrollbar {
  width: 6px; /* 对于垂直滚动条，设置宽度 */
  height: 6px; /* 对于水平滚动条，设置高度 */
}

/* 修改滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: transparent; /* 轨道的背景颜色 */
  border-radius: 10px; /* 轨道的圆角 */
}

/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: rgb(144 147 153 / 30%); /* 滑块的背景颜色 */
  border: none; /* 滑块的边框和颜色 */
  border-radius: 10px; /* 滑块的圆角 */
}

/* 修改滚动条滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: rgb(144 147 153 / 50%); /* 滑块悬停时的背景颜色 */
}

:root {
  --yc-inline-input-width: 200px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  color: var(--el-color-primary);
}
